# Introducción a Scikit Learn

Recordemos que la programación es un elemento básico de la ciencia de datos. Las enormes cantidades de datos ya sea que estemos trabajando desde persepctivas de Analítica o de Big Data y  la cantidad de procesos que conlleva trabajar en estas pueden definirse en diferentes lenguajes de programación como Python, R entre otros, sin embargo como lo hemos mencionado anteriormente, uno de los más populares es Python.

Como se ha mencionado anteriormente la formación del científico de datos es muy amplia y debe dominar diferentes áreas para el desarrollo de su trabajo diario. Sin embargo, la programación, las matematicas y la estadística son los elementos esenciales a la hora de desarrollar las estrategias  para abordar los problemas relacionados con datos.

estadística, matemática, programación y visualización se combinan para extraer datos factibles de interpretarse e incluso crear nueva información. 

Aunque Python fue creado como lenguaje de programación de uso general, cuenta con una serie de librerías y entornos de desarrollo para cada una de las fases del proceso de Data Science. Esto, sumado a su potencia, su carácter open source y su facilidad de aprendizaje le ha llevado a tomar la delantera a otros lenguajes propios de la analítica de datos por medio de Data Science como pueden ser SAS  y R.

## ¿Qué es Scikit-Learn?
Scikit-Learn es una de estas librerías gratuitas para Python, Scikit Learn cuenta con algoritmos de clasificación, regresión, clustering y reducción de dimensionalidad. Además, presenta la compatibilidad con otras librerías de Python como NumPy, SciPy y matplotlib.

La gran variedad de algoritmos y utilidades de Scikit-learn la convierten en la herramienta básica para empezar a programar y estructurar los sistemas de análisis datos y modelado estadístico. Los algoritmos de Scikit-Learn se combinan y depuran con otras estructuras de datos.

La ventaja de la programación en Python, y Scikit-Learn en concreto, es la variedad de módulos y algoritmos que facilitan el aprendizaje y trabajo del científico de datos en las primeras fases de su desarrollo.

## Link de consulta
* [Documentación Scikit Learn](https://scikit-learn.org/stable/)

# Ingeniería de caracteristicas

Cuando iniciamos el trabajo en analitica dar soluciones a problemas del mundo real
puede llegar a ser dificil dado a los conjuntos de datos con los que se trabajan.

En la diversa bibliografia que se tiene sobre analitica de datos en Pyhton siempre se especifica que se preparen los datos de formas especificas antes de ingresarlos a los modelos de ML.  


Para está preparación un buen ejemplo es utilizar la codificación one-hot en datos categóricos.

¿Por qué se requiere una codificación one-hot?
¿Por qué no puede ajustar un modelo a sus datos directamente?

Recordemos que son los datos categoricos. 

## Datos categóricos
Los datos categóricos son variables que contienen valores de etiqueta en lugar de valores numéricos.

El número de valores posibles se limita a menudo a un conjunto fijo.

Las variables categóricas a menudo se denominan nominales .

Algunos ejemplos incluyen:

* Una variable "Pais " con los valores: " Colombia " y " Perú ".
* Una variable de "Color" con los valores: "rojo", "verde" y "Naranja".
* Una variable de "Puesto" con los valores: "primero", "segundo" y "tercero".
Cada valor representa una categoría diferente.

Algunas categorías pueden tener una relación natural entre sí, como un orden natural.

La variable "Puesto" anterior tiene un orden natural de valores. Este tipo de variable categórica se denomina variable ordinal.

## El problema de los datos categóricos:

Algunos algoritmos de aprendizaje automatico puedem trabajar sin problema alguno con estas variables categóricas, pero no todos los algoritmos tienen esas ventajas, y es por eso que se requiere una transformación de esas variables categoricas a variables numericas.

In [2]:
import pandas as pd

In [3]:
data = {"Marca_Vehiculo":["Mercedez", "Audi", "Renault", "Toyota"],
       "Color": ["Blanco", "Amarillo", "Azul", "Negro"]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

  Marca_Vehiculo     Color
0       Mercedez    Blanco
1           Audi  Amarillo
2        Renault      Azul
3         Toyota     Negro

## Codificación directa  (Label Encoding)

In [5]:
from sklearn.preprocessing import LabelEncoder
df_label_Enc = df.copy()

labelencoder = LabelEncoder()
df_label_Enc['Color_v2'] = labelencoder.fit_transform(df_label_Enc['Color'])
df_label_Enc

  Marca_Vehiculo     Color  Color_v2
0       Mercedez    Blanco         2
1           Audi  Amarillo         0
2        Renault      Azul         1
3         Toyota     Negro         3

La codificación Label Encoding como se vió es facil de implementar, sin embargo es posible que sea un problema para los algoritmos de aprendizaje automatico ya que puede ser mal interpretado por estos. 

En el ejemplo que hemos desarrollado anteriormente el color Negro tiene asginado el valor de 3 y el color azul el valor de 1, el algoritmo podría interpretar  que el color negro es tres veces el color Azul. Afirmación que no tiene sentido.

## One-Hot-Encoding

In [6]:
from sklearn.preprocessing import OneHotEncoder
# Se crea instancia one-hot-encoder
df_One_Hot_Enc = df.copy()
enc = OneHotEncoder()

enc_df = pd.DataFrame(enc.fit_transform(df_One_Hot_Enc[['Color']]).toarray())
# merge with main df bridge_df on key values
df_One_Hot_Enc = df_One_Hot_Enc.join(enc_df)
df_One_Hot_Enc

  Marca_Vehiculo     Color    0    1    2    3
0       Mercedez    Blanco  0.0  0.0  1.0  0.0
1           Audi  Amarillo  1.0  0.0  0.0  0.0
2        Renault      Azul  0.0  1.0  0.0  0.0
3         Toyota     Negro  0.0  0.0  0.0  1.0

# Variables Dummy

In [8]:
df_Dummy = df.copy()
dum_df = pd.get_dummies(df_Dummy, columns=["Color"], prefix=["Dummy"] )
df_Dummy

  Marca_Vehiculo     Color
0       Mercedez    Blanco
1           Audi  Amarillo
2        Renault      Azul
3         Toyota     Negro

In [9]:
dum_df

  Marca_Vehiculo  Dummy_Amarillo  Dummy_Azul  Dummy_Blanco  Dummy_Negro
0       Mercedez               0           0             1            0
1           Audi               1           0             0            0
2        Renault               0           1             0            0
3         Toyota               0           0             0            1

In [17]:
import pandas as pd

In [18]:
data = {"Marca_Vehiculo":["Mercedez", "Audi", "Renault", "Toyota"],
       "Color": ["Blanco", "Amarillo", "Azul", "Negro"]}

In [19]:
df = pd.DataFrame(data)

In [20]:
df

  Marca_Vehiculo     Color
0       Mercedez    Blanco
1           Audi  Amarillo
2        Renault      Azul
3         Toyota     Negro

In [12]:
df2 = df.copy()

In [13]:
df2["Columna_Prueba"] = 0

In [14]:
df2

  Marca_Vehiculo     Color  Columna_Prueba
0       Mercedez    Blanco               0
1           Audi  Amarillo               0
2        Renault      Azul               0
3         Toyota     Negro               0

In [21]:
df

  Marca_Vehiculo     Color
0       Mercedez    Blanco
1           Audi  Amarillo
2        Renault      Azul
3         Toyota     Negro